main {
  height: calc(100vh - 25vh);
  display: grid;
  place-items: center;
  background: linear-gradient(180deg, #6a00f4 50%, #2d00f7 100%);
  padding: 0rem 15em;
}
@media (max-width: 950px) {
  main {
    padding: 0rem 10em;
  }
}
@media (max-width: 750px) {
  main {
    padding: 0rem 5em;
  }
}

